<!DOCTYPE html>
<html5>
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
          href="stylesheets/maininterface.css">
    <link rel="stylesheet" type="text/css"
          href="stylesheets/annotator.min.css">
  <title>GT Helper</title>
  <link rel="icon" href="../public/stylesheets/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <script src="javascripts/libraries/jquery.js"></script>
  <script src="javascripts/libraries/jquery.csv-0.71.min.js"></script>
  <script src="javascripts/libraries/jquery-ui.min.js"></script>
  <script src="javascripts/libraries/jquery.scrollTo-min.js"></script>
  <script src="javascripts/libraries/byrei-dyndiv_1.0rc1.js"></script>
  <script src="javascripts/libraries/d3.min.js"></script>
  <script src="javascripts/libraries/d3.tooltip.js"></script>
  <script src="javascripts/libraries/fisheye.js"></script>
  <script src="javascripts/libraries/annotator-full.min.js"></script>
  <!-- Change URLs to wherever Video.js files will be hosted -->
  <link href="images/video/video-js.css" rel="stylesheet" type="text/css">
  <!-- video.js must be in the <head> for older IEs to work. -->
  <script src="images/video/video.js"></script>
  <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
  </script>
  <script>
    videojs.options.flash.swf = "images/video/video-js.swf";
  </script>
</head>
<body>
  <div id = "left">

    <div id="docAbstractions">

        <div id="transGraphTitle"
             class="header timeSequenceVizTitle">
          <p class="vizText">
            Text
          </p>
        </div>
        <div id="transGraph" class="timeSequenceViz">
          <div id="transGraphContent" class="timeSequenceVizContent">
          </div>
          <div id="transGraphScrubber" class="timeSequenceVizScrubber">
          </div>
        </div>

        <div id="icGraphTitle"
             class="header timeSequenceVizTitle">
          <p class="vizText">
            Info
          </p>
        </div>
        <div id="icGraph" class="timeSequenceViz">
          <div id="icGraphContent" class="timeSequenceVizContent">
          </div>
          <div id="icGraphScrubber" class="timeSequenceVizScrubber">
          </div>
        </div>

        <div id="tagGraphTitle"
             class="header timeSequenceVizTitle">
          <p class="vizText">
            Tags
          </p>
        </div>
        <div id="tagGraph" class="timeSequenceViz">
          <div id="tagGraphContent" class="timeSequenceVizContent">
          </div>
          <div id="tagGraphScrubber" class="timeSequenceVizScrubber">
          </div>
        </div>

        <div id="protoColGraphTitle"
             class="header timeSequenceVizTitle">
          <div class="vizText">
            Codes
          </div>
        </div>
        <div id="protocolGraph" class="timeSequenceViz">
          <div id="protocolGraphContent">
          </div>
          <div id="protocolGraphScrubber">
          </div>
        </div>
    </div>

  </div>

  <div id="center">
    <div id="transTitle">
      <div id="transTitleText">
        <p class="blockHead">Text Display</p>
        <p class="blockSubHead">Select lines to update word cloud;
        right-click selection to assign code</p>
      </div>
    </div>
    <div id="transcriptDiv">
        <div id="transContent">
          <table id="transTable"></table>
        </div>
    </div>
    <div id="transcriptOptions" class="options">
      <p class="blockHead">Highlight:</p>
      <div class="blockSubHead">
          <table id="checkboxTable">
              <tr>
                  <td>
                    <label>
                      <input type="checkbox" id="showIC" />
                        Information content
                    </label>
                  </td>
                  <td>
                    <label>
                      <input type="checkbox" id="showPeople" />
                      <text class="people">People</text>
                    </label>
                    [<span id="ppCount"></span>]
                  </td>
                  <td>
                    <label>
                      <input type="checkbox" id="showPlaces" />
                      <text class="places">Places</text>
                    </label>
                    [<span id="plcCount"></span>]
                  </td>
                  <td>
                    <label>
                      <input type="checkbox" id="showNames" />
                      <text class="names">Names</names>
                    </label>
                    [<span id="nameCount"></span>]
                  </td>
              </tr>
              <tr>
                  <td>
                    <label>
                      <input type="checkbox" id="showNouns" />
                      <text class="nouns">Nouns</nouns>
                    </label>
                    [<span id="nounCount"></span>]
                  </td>
                  <td>
                    <label>
                      <input type="checkbox" id="showVerbs" />
                      <text class="verbs">Verbs</verbs>
                    </label>
                    [<span id="verbCount"></span>]
                  </td>
                  <td>
                    <label>
                      <input type="checkbox" id="showAdjectives" />
                      <text class="adjectives">Adjectives</text>
                    </label>
                    [<span id="adjCount"></span>]
                  </td>
                  <td>
                    <label>
                      <input type="checkbox" id="showAdverbs" />
                      <text class="adverbs">Adverbs</text>
                    </label>
                    [<span id="advCount"></span>]
                  </td>
              </tr>
          </table>
      </div>
    </div>
  </div>

  <div id="right">

    <div id="codeDiv">
      <section class="wrapper">
        <div id="codeTitle">
          <p class="blockHead">Codes</p>
          <p class="blockSubHead">Define and Edit Codes</p>
        </div>
        <ul class="tabs">
          <li><a href="#tab1">View</a></li>
          <li><a href="#tab2">Add/ Edit</a></li>
          <li><a href="#tab3">Distribution</a></li>
        </ul>
        <div class="clr"></div>
        <section class="block">
          <article id="tab1">
            <div id="protoView"> </div>
          </article>
          <article id="tab2">
            <div id="protoEdit">
              <textarea id="protocolTextArea"
                        class = "textinput"
                        rows="15"
                        cols="35"
                        value = ""
                        placeholder="Enter each code on a new line."
                        spellcheck="true">
              </textarea>
            </div>
          </article>
          <article id="tab3">
            <div id="totalProtocols"> </div>
          </article>
        </section>
      </section>
    </div>

    <div id="altDisplays">
      <div id="tagListTitle">
        <p class="blockHead">Word Cloud from Transcript</p>
        <p class="blockSubHead">
          Click on word for occurrences; Ctrl-click for concordance
        </p>
      </div>
      <div id="tagList"></div>
    </div>
  </div>

  <div id="contextmenu" class="contextmenu"> </div>

  <div id="concordance-view">
    <div id="concordance-close"
         onclick="document.getElementById('concordance-view')
                          .style
                          .visibility= 'hidden'">
    </div>
     <div id="concordance-view-content"> </div>
  </div>

  <div id="imgPath">
    <div id="imgPath-close" 
         onclick="document.getElementById('imgPath').style.visibility= 'hidden'">
    </div>
     <div id="imgPath-content"> </div>
  </div>

  <script type="text/javascript" src="javascripts/mainFunctions.js"></script>
  <script type="text/javascript" src="javascripts/timelineViz/activityViz.js"></script>
  <script type="text/javascript" src="javascripts/timelineViz/speechViz.js"></script>
  <script type="text/javascript" src="javascripts/timelineViz/sketchViz.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>

</body>
</html>
